body {
  display: grid;
  grid-template-areas: 
    "nav nav nav"
    "header header aside"
    "footer footer footer";
  grid-template-columns: 10% 50% 40;
  background-color: rgba(0, 0, 0, 0.868);
}


header{
  grid-area: header;
  color: white;
  text-align: left;
  margin-left: 320px;
  margin-top: 120px;
padding-bottom: 310px;
line-height: 1.4;
}
header h1{
  display: flex;
  margin-top: 0;
  margin-bottom: 22px;
}


nav {
  grid-area: nav;
  color: white;
  width: 100%;
}
.navlist {
  display: flex;
  flex-direction: row;
  gap: 90px;
  list-style: none;
  margin: 0;
  margin-left: 780px;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "quicksand", sans-serif;
  margin-top: 20px;
}


main {
  grid-area: main;
  background-color: brown;
}

aside {
  grid-area: aside;
  
}

footer{
  grid-area: footer;
}
p1 {
  font-size: 20px;
  font-weight: 30px;
}

p2 , p3{
  font-weight: 30px;
}
h1 {
  font-size: 60px;
  font-weight: 800px;
  font-family: "quicksand", sans-serif;
}
li a {
  text-decoration: none;
  color: white;
}




.page-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}







@keyframes skewAndDrift {
  0%   { transform: translate(0, 0) skew(0deg, 0deg); }
  25%  { transform: translate(10px, -10px) skew(8deg, -8deg); }
  50%  { transform: translate(-10px, 10px) skew(-8deg, 8deg); }
  75%  { transform: translate(5px, -5px) skew(5deg, -5deg); }
  100% { transform: translate(0, 0) skew(0deg, 0deg); }
}

.circle {
  position: absolute;
  top: -240px;
  left: -250px;
  width: 930px;
  height: 930px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.5;
  animation: skewAndDrift 9s ease-in-out infinite;
}

.secondcircle {
  position: absolute;
  top: 240px;
  left: 250px;
  width: 930px;
  height: 930px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.5;
  animation: skewAndDrift 9s ease-in-out infinite;
}
.thirdcircle{
  position: absolute;
  top: -120px;
  left: 850px;
  width: 930px;
  height: 930px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.5;
  animation: skewAndDrift 9s ease-in-out infinite;
}
.triangle {
  background-color: dodgerblue;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  grid-column: 3;
  grid-row: 3;
}
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
.logo{
  width: 90px;
  height: 90px;
  
}
.logowrap{
  position: absolute;
  top: -10px;
  left: 20px;
  width: 30px;
  height: 30px;
}



